@import url('icons/css/fontello.css');

@font-face {
    font-family: 'cormorantlight';
    src: url('fonts/cormorant-light-webfont.woff2') format('woff2'),
         url('fonts/cormorant-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'cormorantregular';
    src: url('fonts/cormorant-regular-webfont.woff2') format('woff2'),
         url('fonts/cormorant-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'cormorantbold';
    src: url('fonts/cormorant-bold-webfont.woff2') format('woff2'),
         url('fonts/cormorant-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'latoregular';
    src: url('fonts/lato-regular-webfont.woff2') format('woff2'),
         url('fonts/lato-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'latobold';
    src: url('fonts/lato-bold-webfont.woff2') format('woff2'),
         url('fonts/lato-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'latolight';
    src: url('fonts/lato-light-webfont.woff2') format('woff2'),
         url('fonts/lato-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}




              
/**********************************
    General
***********************************/
.full-anim {
	background-color: #ffffff;
}
#contentarea {
	background-color: rgba(211,211,211,1.00);	
}
body {
	margin: 0;
    font-family: "latoregular", sans-serif;
	font-weight: 400;
	font-size: 100%;
	line-height: 1.5;
	color: #757575;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "latoregular", sans-serif;
    font-weight: normal;
    color: #000;
    margin: 1em 0em;
    letter-spacing: 0.05em;
	line-height: 1.3;
	text-transform: none;
}        
h1 {font-size: 3.0em;}
h2 {font-size: 2.5em;}
h3 {font-size: 2.1em;}
h4 {font-size: 1.7em;}
h5 {font-size: 0.98em;}
h6 {font-size: 0.85em;}

@media screen and (max-width: 950px)  {
h1 {font-size: 1.6em;}
h2 {font-size: 1.4em;}
h3 {font-size: 1.2em;}
h4 {font-size: 1.1em;}	
}


.display h1 {
    font-weight: normal;
    font-size: 2.0em;
    line-height:1.4;
}
.display p {
    font-size: 1.5em;
    font-style: italic;
}
a {
	text-decoration: none;
    font-family: "latobold", sans-serif;
	color: #aac811;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	}
a:hover {
	color: #C3E901;
	}
hr {border:none;border-top: solid 2px #afafaf;margin-top: 0.75em;margin-bottom: 0.75em;}    
img {max-width:100%;}
figure {margin:0}

.center .form-group {
	margin-left: auto;
	margin-right: auto;
}
.center input:not([type=submit]):not([type=image]),.center textarea  {
	margin-right: 0px !important;
}

/* FIX: Preventing Chrome from wrapping text with span-style (when editing) */
/*.display h1 span {font-size: 2.8em;line-height:1.4;}
.display p span {font-size: 1.5em;line-height:1.7;}
h1 span {font-size: 2.37em;line-height:1.7;}
h2 span {font-size: 1.83em;line-height:1.7;}
h3 span {font-size: 1.39em;line-height:1.7;}
h4 span {font-size: 1.1em;line-height:1.7;}
h5 span {font-size: 0.98em;line-height:1.7;}
h6 span {font-size: 0.85em;line-height:1.7;}
p span {font-size: 14px; line-height: 1.7;}
li span {font-size: 14px; line-height: 1.7;}*/

        
/**********************************
    Grid
***********************************/
.row {
	/*margin-left: auto;
	margin-right: auto;
	max-width: 1012px;*/
}
.row.full-width {
	max-width: 100% !important;
}
.restrict-width {
	margin-left: auto;
	margin-right: auto;
	max-width: 1250px;
}
.restrict-width-mini {
	margin-left: auto;
	margin-right: auto;
	max-width: 500px;
}
.restrict-width-mid {
	margin-left: auto;
	margin-right: auto;
	max-width: 1000px;
}
.container {
    margin: 0 auto;
    max-width: 1013px !important;
    width: 100%;
}
.colour {
	padding-top: 3em;
	padding-bottom: 3em;
	background-color: #FFFFFF;
	position: relative;
}
.colour.no-pad {
	padding-top: 0.01em;
	padding-bottom: 0.01em;
}
.colour.no-pad-top {
	padding-top: 0.01em;

}
.colour.no-pad-bottom {
	padding-bottom: 0.01em;

}
.colour.no-pad figure {
	margin-bottom: 0px;
}

.column {
	padding-left: 1.25em;
	padding-right: 1.25em;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

}
.column.no-pad {
	padding-left: 0em !important;
	padding-right: 0em !important;	
}
.colour.colour-HR {
	padding-top: 0em;
	padding-bottom: 0em;	
}

@media (min-width: 720px) {
	
	.colour {
	padding-top: 4.5em;
	padding-bottom: 4.5em;
	background-color: #FFFFFF;
	position: relative;
}
	
	
	
	
    .column {
        float: left;
        padding-left: 1.5rem; /* 1rem */
        padding-right: 1.5rem;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    .column.full { width: 100%; }
    .column.two-thirds { width: 66.66%; }
    .column.two-fourth { width: 75%; }
    .column.two-fifth { width: 80%; }
    .column.two-sixth { width: 83.3%; }
    .column.half { width: 50%; }
    .column.third { width: 33.33%; }
    .column.fourth { width: 25%; }
    .column.fifth { width: 20%; }
    .column.sixth { width: 16.66%; }
	.column.seventh { width: 14.28%; }
    .column.flow-opposite { float: right; }  
}
.clearfix:before, .clearfix:after {content: " ";display: table;}
.clearfix:after {clear: both;}
.clearfix {*zoom: 1;}

   
/**********************************
    Elements
***********************************/

.center {text-align:center}
.right {text-align:right}
.left {text-align:left}

img.circle {border-radius:500px;margin-top:0;}
img.bordered {border: #ccc 1px solid;}

.embed-responsive {position: relative;display:block;height:0;padding:0;overflow:hidden;} 
.embed-responsive.embed-responsive-16by9 {padding-bottom: 56.25%;}
.embed-responsive.embed-responsive-4by3 {padding-bottom: 75%;}
.embed-responsive iframe {position: absolute;top:0;bottom:0;left:0;width:100%;height:100%;border:0;}

.column > img, 
.column > figure, 
.column > .embed-responsive {
    margin-top: 1em;margin-bottom: 1em;
}

.list {position:relative;margin:1.5em 0;}
.list > i {position:absolute;left:-3px;top:-3px;font-size:2em;}
.list > h2, .list > h3 {margin: 0 0 0 50px}
.list > p {margin: 0 0 0 50px}

.quote {position:relative;margin:1.5em 0;}
.quote > i {position: absolute;top: -10px; left: -7px;font-size: 2em;color:rgba(51,51,51,0.44);}
.quote > small {margin-left:50px;opacity: 0.7;font-size: 1em;}
.quote > p {margin-left:0px;font-size: 1.5em;}

.btn {
    padding: 7px 65px 7px 13px;
    font-size: 0.95em;
    border-radius: 22px;
    display: inline-block;
    margin: 10px 0em;
    font-weight: normal;
    text-align: left;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    background-color: transparent;
    font-family: "latoregular", sans-serif;
    text-transform: uppercase;
    background-image: url(images/White-Button.png);
    background-repeat: no-repeat;
    background-position: left 8px center;
    background-size: 20px;
}

.btn.btn-primary {
	background-color: #a2c617 !important;
	border: solid 1px #a2c617 !Important;
	color: #ffffff !important;
	padding: 8px 20px 8px 40px;
	
}
.btn.btn-primary:hover {
	border: solid 1px #a2c617 !Important;
	color: #ffffff !important;
	padding: 8px 20px 8px 40px;
	transform: translateX(5px);
    background-position: left 10px center;
}
.btn.btn-default {color: #ffffff;background-color: #babcbb;}
.btn.btn-default:hover {color: #ffffff;background-color: #8c8e8d;border-color: #8c8e8d;}

.social a > i {text-decoration:none;color:#333;font-size:1.5em;margin:0 5px 0 0;-webkit-transition: all 0.1s ease-in-out;transition: all 0.1s ease-in-out;}
.social a:hover > i {color:#08c9b9;}


/**********************************
    Header Image with Caption
***********************************/
figure.hdr {
	position: relative;
	width: 100%;
	overflow:hidden;
    background-color: transparent;   
}
figure.hdr img {
	position: relative;
	display: block;
	width: 100%;
	opacity: 1.0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;	
}
figure.hdr:hover img {


}
figure.hdr figcaption {
   	position: absolute;
	top: auto;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 60%; 
	padding: 0 2.5em;
	color: #fff;
	text-align: left;
	box-sizing: border-box;
	z-index:1;
}
/* Text */
figure.hdr h2 {
	font-weight: 300;
	text-transform: uppercase;
}
figure.hdr h2 span {
	font-weight: 800;
}
figure.hdr p {
	letter-spacing: 0px;
	text-transform: none;
}
figure.hdr h2, figure.hdr p {
	margin: 0;
	z-index:10000;
}
/* Cosmetic */
figure.hdr div {
	/*height: 100%; */ /*EDIT CHECK*/
	z-index:0;
}
figure.hdr div::before,
figure.hdr div::after {
	position: absolute;
	content: '';
}
/* One */
figure.one div::before {
	top: 50px;
	right: 30px;
	bottom: 50px;
	left: 30px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
}
figure.one div::after {
	top: 30px;
	right: 50px;
	bottom: 30px;
	left: 50px;
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
}
/* Two */
figure.two div::before {
	top: 30px;
	right: 30px;
	bottom: 30px;
	left: 30px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
}
figure.two div::after {
	top: 30px;
	right: 30px;
	bottom: 30px;
	left: 30px;
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
}
/* Three */
figure.three figcaption {
	height: 70%; 
}
figure.three p {
	margin: 1em 0 0;
	padding: 2em;
	border: 1px solid #fff;	
} 
/* Four */
figure.four figcaption {
	height: 60%; 
	text-align: left;
}
figure.four p {
	position: absolute;
	right: 50px;
	bottom: 50px;
	left: 50px;
	padding: 2em;
	border: 7px solid #fff;
}
/* Five */
figure.five figcaption {
	height: 100%; 
	text-align: right;
}
figure.five h2 {
    position: absolute;
    left: 50px;
	right: 50px;
	top: 10%;
	border-bottom: 5px solid #fff;
}
figure.five p {
	position: absolute;
	right: 50px;
	bottom: 10%;
}
/* Six */
figure.six figcaption {
	height: 70%;
}
figure.six h2 {
    padding-bottom: 3%;
	border-bottom: 1px solid #fff;
}
figure.six p {
	padding-top: 6%;
}
/* Seven */
figure.seven figcaption {
	height: 90%;
	text-align:left;
}
figure.seven h2 {
	border-bottom: 3px solid #fff;
}
figure.seven p {
    padding-top: 1em;
}
/* Eight */
figure.eight figcaption {
	height: 100%; 
	text-align: right;
}
figure.eight h2 {
	position: absolute;
	left: 50%;
	right: 50px;
	bottom: 10%;
}
figure.eight p {
    position: absolute;
    left: 50px;
	right: 50%;
	top: 10%;
	padding-right:0.5em;
	border-right: 1px solid #fff;
}

/* MODIFICATIONS
===============================================*/


.column.two-thirds-maintain { width: 66.7%;	float: left; }
.column.two-fourth-maintain { width: 75%; float: left; }
.column.two-fifth-maintain { width: 80%; float: left; }
.column.two-sixth-maintain { width: 83.3%; float: left; }
.column.half-maintain { width: 50%;	float: left; }
.column.third-maintain { width: 33.3%; float: left; }
.column.fourth-maintain { width: 25%; float: left; }
.column.fifth-maintain { width: 20%; float: left; }
.column.sixth-maintain { width: 16.6%; float: left; }



.three-images img {
	width: 33.33%;
	}
.two-images img {
	width: 50%;
	}
.two-img-col img {
	width: 100%
	}
.three-img-col img {
	width: 100%
	}
.three-circles-half img {
	max-width: 30%;
	}
	
/* Page header one */
figure.header-one {
	margin-top: 0px !important;
	}
figure.header-one figcaption {
	height: auto;
	text-align: left;
	bottom: 0px;
	background-color: transparent;
	margin: 0px !important;
	padding: 0px !important;
}
figure.header-one figcaption H1 {
	color: #ffffff;
	background-color: transparent;
	display: inline-block;
	margin: 0.0em 0em 1em 0px;
	padding: 8px 80px 8px 25px;
	font-size: 1.4em;
	font-weight: 400;

}

figure.header-one figcaption P {
	color: #ffffff;
	margin-top: 0.0em;
	margin-bottom: 0.2em;
}

.header-fine figure.hdr figcaption {
	top: 21%;
}
.header-fine figure {
	margin-bottom: 0px;
}


/* Page header two */
figure.header-two {
	margin-top: 0px !important;
	}
figure.header-two figcaption {
	height: auto;
	text-align: left;
	bottom: 0em;
	top: 0px;
	padding-bottom: 0.5em;
	background-color: rgba(91, 91, 91, 0.62);
	right: 0px;

	/*text-align: center;*/
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
    justify-content: center;
}
figure.header-two figcaption H1 {
	color: #ffffff;
	margin-top: 0.2em;
	margin-bottom: 0.2em;
	font-size: 2.2em;
}
figure.header-two figcaption P {
	color: #ffffff;
	margin-top: 0.2em;
	margin-bottom: 0.2em;
}



@media (max-width: 719px) {
.clear-mobile {
	clear: both;	
}
.center-mobile {
	text-align: center;
	}
.two-img-col img {
	width: 50%
	}
.three-img-col img {
	width: 33.3%
	} 
.fourth-half {
	width: 50%;
	float: left; 
	}
.sixth-third {
	width: 33.3%;
	float: left;
	padding-left: 1.5%;
    padding-right: 1.5%; 
	}
.fourth-half-pad-L {
	width: 50%;
	float: left; 
	}
.fourth-half-pad-R {
	width: 50%; 
	float: left; 
	}
/* Page header one */
figure.header-one figcaption {
	padding-left: 1.5em;
}
figure.header-one figcaption H1 {
	margin-top: 0.4em;
	margin-bottom: 0.4em;
	font-size: 1.2em;
}	
/* Page header two */
figure.header-two figcaption {
	padding-left: 1.0em;
	padding-right: 1.0em;
}
figure.header-two figcaption H1 {
	margin-top: 0em;
	margin-bottom: 0.4em;
	font-size: 1.7em;
}
figure.header-two figcaption P {
	margin-top: 0.4em;
	margin-bottom: 0.4em;
}
}
@media (max-width: 600px) {
.two-img-col img {
	width: 70%
	}
.three-img-col img {
	width: 70%
	}
.three-circles-half img {
	max-width: 25%;
	}
.fourth-half-pad-L {
	width: 47.5%;
	padding-left: 2.5%;
	}
.fourth-half-pad-R {
	width: 47.5%;
	padding-right: 2.5%;
	float: left; 
	}
}
@media (max-width: 500px) {
figure.header-one figcaption {
	padding-left: 1em;
}
figure.header-one figcaption H1 {
	color: #ffffff;
	margin-top: 0.2em;
	margin-bottom: 0.2em;
	font-size: 0.9em;
}
/* Page header two */

figure.header-two figcaption {
	padding-left: 0.5em;
	padding-right: 0.5em;
	bottom: 0em;
	padding-bottom: 0.3em;
}
figure.header-two figcaption H1 {
	margin-top: 0.2em;
	margin-bottom: 0.2em;
}
figure.header-two figcaption P {
	margin-top: 0.2em;
	margin-bottom: 0.2em;
}	
}
@media (max-width: 400px) {
.two-img-col img {
	width: 100%
	}
.three-img-col img {
	width: 100%
	}
.sixth-third {
	width: 50%;
	}
}

/* Footer components
===========================*/
.footer {
	position: relative;
}
.footer-wrap {
	padding: 40px 0px;
	color: #000;
	font-size: 0.95em;
	line-height: 1.43em;
	background-color: #fff;
	}
.footer2-wrap {
    background-color: #000000;
	font-size: 0.85em;
	line-height: 1.4em;
	color: #ffffff;
	padding: 0.5em 0em;
	border-top: solid 1px rgba(255,255,255,0.65);
	}
.footer-wrap .restrict-width {
	padding-bottom: 10px;
	/*border-bottom: solid 2px #afafaf;*/
}
.footer-wrap a {
	color: #000 !important;	
    font-family: "latoregular", sans-serif;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	}
.footer2-wrap a {
	color: #ffffff !important;	
    font-family: "latoregular", sans-serif;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	}
.footer-wrap a:hover,.footer2-wrap a:hover {
	color: #aac811 !important;
	}	
	

.F-powered {
	margin-top: 2px;
	margin-bottom: 10px;
	color: #909090;
	}


.f-range img {
	width: 14%;
    border-bottom: 1px rgba(255,255,255,0.60) solid;
    padding-top: 25px;
	display: inline-block !important;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.f-range2 img {
	width: 14%;
	padding-right: 25px;
    padding-top: 5px;
}
.f-range img:nth-of-type(1) {
	display: block;
}

P.F-header {
	font-family: "latolight", sans-serif;
    font-size: 1.2em;
    color: #ffffff;
    margin: 1.8em 0em 0.2em 0em;
    line-height: 1.2em;
    border-bottom: 2px #a2c617 solid;
    padding-bottom: 5px;
	text-transform: uppercase;
}
.f-logo {
	padding-top: 0px;
	padding-bottom: 1px;
}

.f-logo img {
	width: 320px;
}
.f-accred img {
	padding: 15px 0 0px 0;
	height: 65px;
}
.footer-3a {
	padding-top: 50px;
}
.footer-5a img {
	width: 110px;
	border-radius: 2px;
}

.cf-sm {
	padding-top: 10px;
}
.cf-sm img {
	width: 30px;
	padding-right: 10px;
}


.footer-d img {
 width: 350px;
}

.logo-footer img {
	width: 150px;
	float: right;
	display: none;
}









@media (max-width: 719px) {
	.footer {
		text-align: center;
	}
	.f-logo {
		text-align: center;
	}
.f-range img:nth-of-type(1) {
	margin-left: auto;
	margin-right: auto;
}
.f-range img {
	width: 24%;
	border-bottom: 1px rgba(255,255,255,0.60) solid;
	padding-top: 35px;
}

P.F-header {
    font-size: 1.5em;
    margin: 1em auto 0.5em auto;
	border: none;
    padding-top: 15px;
}

	.footer-3b.right, .footer-5b.right {
		text-align: center
	}
	

.F-menu,.F-powered {
	margin-left: 0px;

	}
	.footer .right {
		text-align: center;
	}

}


@media (max-width: 450px) {
.footer-wrap .restrict-width {
	background-repeat: no-repeat;
	background-position: right bottom;
	background-size: auto 120px;
	padding-bottom: 3em;
}
}

/* Snippet Colours
======================================*/
.page-header {
	background-color: #C11718;
	background-image: url(images/bg1.png);
	background-repeat: no-repeat;
	background-size: auto 100%;
	background-position: right center;
}
.page-header H1 {
	color: #ffffff;
}





.trans {
	background-color: rgba(91, 91, 91, 0.62);
}
.blue {
	background-color: #37b5e6;
	color: #FFFFFF !important;
}
.h-serv {
    background-repeat: no-repeat;
    background-position: center bottom;
    background-image: url(images/bg-serv2.jpg);
    background-size: 100% auto;
	background-color: #795109;
	color: #FFFFFF !important;
}
.h-serv P,.h-serv H1,.h-serv H2,.h-serv H3,.h-serv H4,.h-serv a,.h-serv UL {
	color: #FFFFFF !important;
}
@media (max-width: 1400px) {
	.h-serv {
		background-size: auto 100%;
	}	
}
.gradt {
    background-repeat: no-repeat;
    background-position: center top;
    background-image: url(images/shadow.png);
    }
.grey1 {
	background-color: #F0F0F0;
}
.grey2 {
	background-color: #2d2d2f;
}
.grey3 {
	background-color: rgba(237,232,232,0.90);
}
.grey2 P,.grey2 H1,.grey2 H2,.grey2 H3,.grey2 H4,.grey2 a,.grey2 UL {
	color: #FFFFFF !important;
}
.green {
    /*background-color: #a2c617;*/
    background-image: -webkit-linear-gradient(90deg,rgba(171,208,32,1.00) 69.43%,rgba(130,162,4,1.00) 100%);
    background-image: -moz-linear-gradient(90deg,rgba(171,208,32,1.00) 69.43%,rgba(130,162,4,1.00) 100%);
    background-image: -o-linear-gradient(90deg,rgba(171,208,32,1.00) 69.43%,rgba(130,162,4,1.00) 100%);
    background-image: linear-gradient(0deg,rgba(171,208,32,1.00) 69.43%,rgba(130,162,4,1.00) 100%);
}
.green P,.green H1,.green H2,.green H3,.green H4,.green a,.green UL {
	color: #FFFFFF !important;
}
.white-grad {
	background-image: -webkit-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(255,255,255,0.41) 100%);
	background-image: linear-gradient(180deg,rgba(255,255,255,1.00) 0%,rgba(255,255,255,0.41) 100%);
	background-color: transparent;
}

.grad {
	background-color: rgba(0,0,0,0.72);	
}
.black {
	background-color: rgba(0,0,0,0.80);
	color: rgba(255,255,255,1.00);
}
.black P,.black H1,.black H2,.black H3,.black H4,.black a,.black UL {
	color: #FFFFFF !important;
}
.black .btn.btn-primary {
	border-color: #ffffff;
	color: rgba(255,255,255,1.00);
}
.black-solid {
	background-color: #000000;
	color: rgba(255,255,255,1.00);
}

.black H4 {
	color: #ffffff !important;
}
.contact-bg {
	background-color: rgba(0,0,0,0.70);
}
@media (min-width: 720px) {
.half-bg {
	background-image: url(images/bg-half.png);
	background-repeat: repeat-y;
	background-position: center 0%;
	background-size: 100% auto;
}
.column.h-contact,.column.h-twitter {
	padding-left: 3rem;
    padding-right: 3rem;
}
}
@media (max-width: 719px) {
.half-bg {
	background-color: rgba(236,236,236,1.00);
}

}

/* Full Form
====================================*/
.form-full input:not([type=submit]):not([type=image]) {
	width: 100%;
	margin-right: 0px !important;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.form-full textarea {
	width: 100%;
	margin-right: 0px !important;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.form-full .btn.btn-primary {
	width: 100%;
	margin-right: 0px !important;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	text-align: center;
}
.form-full .wcs-wrap-wrap {
    background-color: #EBEBEB;
    padding: 2px 10px 5px 20px;
    margin-right: auto;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
    width: 100%;
	max-width: 100%;
	border-top: none;
}
.form-full .form-group {
    display: block;
}

/* Home
================== ====================*/
.sub-modules-inner {
	background-color: rgba(255,255,255,1);
    border-radius: 20px;
    padding: 10px 20px 10px 20px;
    border: solid 1px rgba(162,198,23,1);
	border-left: solid 15px rgba(162,198,23,1);
	margin: 40px 0px 0px 0px;
	webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.12);
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.12);
	font-size: 0.9em;
	line-height: 1.3em;
}
.sub-modules-inner h4 {
	font-family: "latobold", sans-serif;
	background-image: url(images/icon-c2-traffic-b.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 30px auto;
	padding: 10px 0px 10px 40px;
	margin-top: 5px;
	border-bottom: solid 2px #a2c617;
}
.page-intro img {
	float: left;
	width: 150px;
	padding-right: 40px;
}
.page-intro h1 {
    margin-bottom: 0.05em;
	color: #ffffff;
}
.page-intro p {
	font-size: 1.1em;
	font-family: "latobold", sans-serif;
	
}
.page-intro {
	background-color: rgba(0,0,0,0.50);
	color: #ffffff;

}
.page-intro-large {
	padding: 15vh 0px 22vh 0px;
}
.h-serv img {
	width: 100px;
}
.h-serv figure {
	background-color: rgba(0,0,0,0.25);
	border-radius: 20px;
	padding: 30px 20px 20px 20px;
	-webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.h-serv figure h4 {
	font-family: "latobold", sans-serif;
	margin-bottom: 1px;

}
.h-serv figure p {
	margin-top: 0.5em;
}




@media screen and (max-width: 720px) {
	.h-portfolio figure {
		padding-bottom: 35px;
	}
	.page-intro img {
	float: none;
		display: block;
		margin-right: auto;
	width: 120px;
	padding-right: 40px;
		padding-bottom: 20px;
}
}




.h-c2a-logo img {
	height: 60px;
	padding-bottom: 15px;
}




.history-icons .column {
	padding: 0px;
}.history-icons .column img {
	width: 80%;
}
.history-icons figcaption {
    background-image: url(images/history-line.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: auto 15px;
	padding: 25px 20px 20px 20px;
}
.history-icons .column p {
	font-size: 0.8em;
}
.history-icons .column h4 {
	font-size: 0.9em;
}
@media screen and (max-width: 1000px) {
.history-icons .column.sixth {
	width: 25%;
}
}
@media screen and (max-width: 720px) {
.history-icons .column.sixth {
	width: 33%;
	float: left;
}
	.h-c2a figure {
	padding-bottom: 30px;
}
}
@media screen and (max-width: 400px) {
.history-icons .column.sixth {
	width: 50%;
	float: left;
}
}




.table-spec {
	width: 500px;
	max-width: 90%;
	text-align: left;
}
.table-spec tr:nth-of-type(odd) {
	background-color: #E7EFF1;
}

.table-spec td,.table-spec th {
	padding: 8px 12px;
}
.table-spec th {
    font-family: "latoregular", sans-serif;
}
@media screen and (max-width: 720px) {
.table-spec {
	width: 95%;
	max-width: 95%;
	text-align: left;
}	
}

.gallery-slider.colour div {
    background-color: transparent !important;
}
.grad img {
	border-bottom: solid 1px #ffffff;
}
.grad .column.seventh {
	padding: 0px;
}
.grad {
    background-color: rgba(0,0,0,0.72);
	padding: 1em 0em;

}

@media screen and (max-width: 720px) {
	.grad .column.seventh {
		float: left;
		width: 50%;
	}
}

figure.header-centre {
	margin: 0px;
}
figure.header-centre img {
	display: block;
	width: 100%;
}

figure.header-centre div {
    position: absolute;
    z-index: 150;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    text-align: center;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
    justify-content: center;
    padding-left: 0em;
    padding-right: 0em;
	background-color: rgba(0,0,0,0.35);
	color: #ffffff;
}
.header-centre h2,.header-centre h3 {
	color: #ffffff;
	margin: 1em 15%;
}

@media (max-width: 720px) {
.header-centre h2,.header-centre h3 {
	color: #ffffff;
	margin: 1em 10%;
	font-size: 1.0em;
}
}

@media (min-width: 720px) {
	.snip-2img-1,.snip-2img-2 {
		padding-top: 4.5em;
	}
}
.snip-2img-1 .two-thirds img:nth-of-type(1) {	
    width: calc(66.3% - 4px);
    margin-right: 0px;
	float: left;

}
.snip-2img-1 .two-thirds img:nth-of-type(2) {	
    width: calc(33.7% - 4px);
	float: right;
	margin-bottom: 8px;
}
.snip-2img-1 .two-thirds img:nth-of-type(3) {	
    margin: 0px 0px 0px 0px;
    width: calc(33.7% - 4px);
	float: right;
}



.snip-2img-2 .two-thirds img:nth-of-type(1) {	
    width: calc(66.3% - 4px);
    margin-right: 0px;
	float: right;

}
.snip-2img-2 .two-thirds img:nth-of-type(2) {	
    width: calc(33.7% - 4px);
	margin-bottom: 8px;
	float: left;
}
.snip-2img-2 .two-thirds img:nth-of-type(3) {	
    margin: 0px 0px 0px 0px;
    width: calc(33.7% - 4px);
	float: left;
}


@media (max-width: 720px) {
.snip-2img-1 .two-thirds img:nth-of-type(1), .snip-2img-2 .two-thirds img:nth-of-type(1) {	
	    width: calc(66.5% - 4px);
}
	.snip-2img-1 .two-thirds img:nth-of-type(12), .snip-2img-1 .two-thirds img:nth-of-type(23), .snip-2img-2 .two-thirds img:nth-of-type(2) , .snip-2img-2 .two-thirds img:nth-of-type(23) {
    width: calc(33.5% - 4px);		
	}
}




.snip-3img-1 img {
	width: calc(33% - 2px);
	padding: 0px 1px;
}


@media screen and (min-width: 720px) {
	.v-center .restrict-width {
		height: auto;
		bottom: 0em;
		right: 0px;
		width: auto;
		top: 0px;
		left: 50%;
		text-align: left;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-ms-flex-align: center;
		-webkit-align-items: center;
		-webkit-box-align: center;
		align-items: center;
	}
}




.images-three-mini .column:nth-of-type(1) {
	margin-top: 15px;

}
.images-three-mini .column:nth-of-type(3) {
	margin-top: 50px;

}
.images-three-mini .column.no-pad {
	padding: 0px 2px !important;
}

.h-intro h2 {
	margin: 0.3em 10% 0.7em 10%;
}

.three-images-wide img {
	margin: 0px;
	display: block;
}









.two-image-snippet img {
	width: 50%;
	border: 2px solid rgba(255,255,255,0.00);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.two-image-snippet img:nth-of-type(1) {
	padding-bottom: 50px;
}
.two-image-snippet img:nth-of-type(2) {
	padding-top: 50px;
}
@media (max-width: 720px) {
	.two-image-snippet h2 {
		margin-top: 0.3em;
	}
}

/*---------------------*/
figure.hdr.header-one figcaption {
    top: 0px;
    /*background-image: -webkit-linear-gradient(0deg,rgba(255,255,255,0.77) 0%,rgba(255,255,255,0.00) 55.43%);
    background-image: -moz-linear-gradient(0deg,rgba(255,255,255,0.77) 0%,rgba(255,255,255,0.00) 55.43%);
    background-image: -o-linear-gradient(0deg,rgba(255,255,255,0.77) 0%,rgba(255,255,255,0.00) 55.43%);
    background-image: linear-gradient(90deg,rgba(255,255,255,0.77) 0%,rgba(255,255,255,0.00) 55.43%);*/
}

.header-one H1 {
    position: absolute;
    bottom: 40px;
    left: 0px;
    font-size: 2.7em !important;
    line-height: 1.0;
    margin-bottom: 0.25em !important;
    padding: 8px 50px 8px 30px !important;
    width: 450px;
    max-width: 80%;
	color: #000000 !important;
}


.header-one figcaption H1 span:nth-of-type(1) {
    font-size: 20px;
    font-family: "michromaregular", sans-serif;
	padding-left: 3px;
}
.header-one figcaption H1 span:nth-of-type(2) {
    font-size: 22px;
    font-family: "latoregular", sans-serif;
}






.p-banner {
    height: calc(100vh - 80px);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}

.p-banner.p-banner-40 {
	height: 50vh !important;
}
.p-banner .column {
    position: absolute;
    z-index: auto;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    text-align: left;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
    justify-content: center;
    padding-left: 0em;
    padding-right: 0em;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(images/bg3b.png);
    background-size: cover;
}

.h-header-message {

}
.p-banner-inner {
	width: 1240px;
	margin: 0px auto;
    text-align: left;
	padding: 5px 30px;
	max-width: calc(100% - 60px);
}
.holder-logo-img {
	width: 250px;
	text-align: left;
}
.p-banner H1 {
    font-size: 2.7em !important;
    display: block;
    padding: 0px 0px;
    margin: 0.1em auto 0.1em 0em;
    text-align: left;
    line-height: 1.3em;
    color: #a2c617 !important;
	text-transform: none;
	font-family: "latobold", sans-serif;
}
.p-banner-inner p {
    padding: 0px 0px 0px 0px;
    color: #ffffff;
    font-size: 1.1em;
    text-align: left;
    margin-top: 0.2em;
	line-height: 1.3em;
	font-family: "latoregular", sans-serif;
	text-transform: none;
}
.p-banner H1,.p-banner-inner p {
    text-shadow: 0px 0px 15px rgba(0,0,0,0.7);
		color: #ffffff !important;
}
/*.p-banner .btn.btn-primary {
    color: #FFFFFF;
	border-color: transparent;
	display: block;
	width: 160px;
}*/






.h-brochures img {
	width: 250px;
	display: block;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.h-brochures img:hover {
	transform: scale(1.05)
}
.h-icons H3 {
	font-size: 2em;
}
.h-icons H4 {
	color: #000000;
}
.h-icons img {
	width: 80px;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.h-icons P {
    font-family: "latoregular", sans-serif;
	font-size: 1.0em;
}
.h-icons img:hover {
	transform: scale(1.1)
}
.prod-icons img {
	width: 220px;
	-webkit-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	border: solid 10px #DCDCDC;
	border-radius: 40px;
}
.prod-icons img:hover {
	border: solid 10px #00afc7;
	transform: scale(1.05)
}
.prod-icons P {
	max-width: 75%;
	margin: 1em auto;
}
.colour.p-brochures {
	padding-bottom: 0em;
}
.cats-header .restrict-width {
    text-align: left;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
    /*justify-content: center;*/
    padding-left: 0em;
    padding-right: 0em;
}
.cats-header H2 {
	color: #BFBFBF;
	font-size: 1.5em;
	margin-bottom: 1px;
}
.cats-header H1 {
	font-size: 2em;
	margin-top: 1px;
}
.h-column-contact {
	background-color: rgba(255,255,255,0.80);
	border-radius: 20px;
	padding-top: 2em;
	padding-bottom: 2em;
}
	.h-icon-arrows h4 {
		font-size: 1.0em;
	}



@media (min-width: 720px) {
.col-valign-middle .restrict-width {
    text-align: left;

    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
    /*justify-content: center;*/
    padding-left: 0em;
    padding-right: 0em;	
}
}
@media (max-width: 999px) {
	.p-banner .column {


	}
.p-banner H1 {
	font-size: 2.8em !important;
}
	.p-banner H1 span {
	font-size: 20px !important;

}
	.p-banner H1 a {
    font-size: 13px;
    line-height: 16px;
		padding: 10px 35px 10px 15px;
		    width: calc(100% - 45px);
	}
.p-banner P {
	font-size: 1.0em !important;
    margin-top: 0vh;
	
}
.header-one H1 {
	font-size: 1.1em !important;
	width: 45%;
	}
	
	
	
}

@media screen and (max-width: 450px) {
.header-one H1 {
	font-size: 0.9em !important;
	width: 50%;
	}
}



@media (max-width: 720px) {
	
	.p-banner {
    height: calc(110vh - 0px);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}
	
	
.testimonial-colour .column {
    min-height: 14em;
}
.testimonial_message {
    font-size: 1.0em;
}
	.c2a .column {
		padding-bottom: 30px;
	}
	.h-icons p {
		margin-top: 0.1em;
		margin-bottom: 1.5em;
	}
	.p-banner-inner {
    width: 95%;
	margin-right: auto;
	margin-left: auto;
    padding: 5px 15px;
}
.p-banner H1 {
    font-size: 1.5em !important;
	}
.p-banner p {
    font-size: 0.9em !important;
	line-height: 1.2em;
	font-weight: 500;
	}
	
	.h-icon-arrows .column:nth-of-type(1),.h-icon-arrows .column:nth-of-type(2) {
		float: left;
		width: 50%;
	}
	.h-icon-arrows .column:nth-of-type(3) {
		float: left;
		width: 100%;
		background-color: #ffffff;
		padding: 1em 1em;
	}
	.h-icon-arrows h4 {
		font-size: 1.0em;
	}
	
}







.h-cats figure {
	position: relative;
	/*max-width: 350px;*/
	/*margin-left: auto;
	margin-right: auto;*/
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	background-color: transparent;	/*background-color: #C11718;*/
	
}

.h-cats figure:hover {

	/*transform: scale(1.05);*/
}
.h-cats figcaption {
	text-align: left;
	/*border-top: solid 2px #ffffff;*/
	padding: 0.1em 0.6em 10px 0em;
	background-image: url(images/go.png);
	background-repeat: no-repeat;
	background-position: right 10px bottom 10px;
	background-size: auto 20px;
}
.h-cats figure img {
	display: block;
}
.h-cats H3 {
	font-size: 1.0em;
	/*text-transform: uppercase;*/
	margin-bottom: 0.1em;
	letter-spacing: normal;
}
.colour.h-cats {

}

.h-cats {
	padding-left: 0.5em !important;
	padding-right: 0.5em !important;	
}
.h-cats .column.fourth {
	padding-left: 0.5em !important;
	padding-right: 0.5em !important;
}


@media screen and (max-width: 720px) {

	.h-cats figure {
		text-align: center;
		paddding-bottom: 40px;
	}
	.h-cats h3 {
		text-align: center;
	}
	.h-cats p {
		margin: 0px
	}
.h-cats figure img {
	width: 400px;
    max-width: 100%;
	display: inline-block;

}
}


.h-serv {
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(images/bg-serv4.jpg);
    background-size: 100% auto;
    background-color: #1f1f20;
    color: #FFFFFF !important;
}
.h-serv2 {
    background-repeat: no-repeat;
    background-position: center bottom -0px;
    background-image: url(images/bg-serv5b.jpg);
    background-size: 1300px auto;
    background-color: #f3f2ef;
    color: #000000 !important;
	padding: 55px 0px 200px 0px;
}
.h-serv figure {
    background-color: rgba(0,0,0,0.50);
    border-radius: 20px;
    padding: 20px 20px 10px 20px;
	border: solid 1px rgba(162,198,23,0.50) !Important;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
	cursor: pointer;
}
.h-serv2 figure {
    background-color: rgba(255,255,255,0.70);
    border-radius: 20px;
    padding: 20px 20px 10px 20px;
    border: solid 1px rgba(162,198,23,0.50) !Important;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
	margin-bottom: 25px;
}
.h-serv figure img {
    -webkit-transition: all 0.9s ease-in-out;
    transition: all 0.9s ease-in-out;
	width: 80px;
}
.h-serv figure:hover {
	transform: scale(1.1)
}
.h-serv figure:hover img {
	transform: scale(1.15)
}
.h-serv figure h4 {
    font-family: "latobold", sans-serif;
    margin-bottom: 1px;
	margin-top: 1px;
	font-size: 1.2em;
}
.h-serv figure p {
    margin-top: 0.2em;
	margin-bottom: 0.2em;
	line-height: 1.2em;
	font-size: 0.9em;
}.h-serv P, .h-serv H1, .h-serv H2, .h-serv H3, .h-serv H4, .h-serv a, .h-serv UL {
    color: #000000 !important;
}


@media screen and (max-width: 719px) {
	.h-serv2 br {
		display: none;
	}
	.h-serv2 {
		padding: 35px 0px 400px 0px;
	}
}

/* services */
.services2 figure {
    background-color: rgba(255,255,255,0.70);
    border-radius: 20px;
    padding: 20px 20px 10px 20px;
    border: solid 1px rgba(162,198,23,0.50) !Important;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    margin-bottom: 25px;
}

/* SLIDER
============================*/
/* SLIDER
============================*/
.wbSliderHeader, .wbSliderSecondary {
	width: auto;
	margin-left: auto;
	margin-right: auto;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	line-height: 1.1em;
	color: rgba(255,255,255,1.00) !important;
	padding: 15px 20px 15px 20px !important;
	position: relative;
	text-align: left;
	display: inline-block;
}
.wbSliderHeader {
	font-family: "michromaregular", sans-serif;
    font-weight: 400 !important;
    font-size: 2em !important;
	background-color: rgba(255,255,255,0.0);
	margin-top: 0;
	color: #ffffff !important;
	padding: 30% 0 0 35px !important;
	margin-right: 0px;
		background-image: -webkit-linear-gradient(0deg,rgba(0,0,0,0.56) 0%,rgba(0,0,0,0.00) 47.49%);
    background-image: -moz-linear-gradient(0deg,rgba(0,0,0,0.56) 0%,rgba(0,0,0,0.00) 47.49%);
    background-image: -o-linear-gradient(0deg,rgba(0,0,0,0.56) 0%,rgba(0,0,0,0.00) 47.49%);
    background-image: linear-gradient(90deg,rgba(0,0,0,0.56) 0.00%,rgba(0,0,0,0.00) 47.49%);
	display: block;
	top: 0px;
	bottom: 0px;
	height: 100%;
}
.wbSliderSecondary {
	font-size: 1.9em !important;
    font-family: "latoregular", sans-serif;
	margin-top: 0vh;
	color: #ffffff;
	background-color: #1eb78a;
	/*-webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 25%, 75% 0);
	clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 20px, 20px 0);*/
}
.imageParentDiv img {
	max-width: none;
}


@media (max-width: 850px) {
.wbSliderHeader,.wbSliderSecondary {
	font-size: 1.1em !important;
}

}
@media (max-width: 650px) {

}
@media (max-width: 400px) {
.wbSliderHeader {
	margin-top: 40vh;
}
.wbSliderSecondary {
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}
}

.center .wcs-wrap-wrap {
	border-top: none;
	padding-top: 10px;
	margin: 0px auto 15px auto;
	width: 240px;
	background-color: rgba(0,0,0,0.10);
	border-radius: 3px;
}
.wcs_wrap {
	font-size: 0.85em;
	color: rgba(61,61,61,1.00);
	text-align: left;
}
.contact-bg input,.contact-bg textarea {
	margin-right: 0px !important;
}






/* Home C2A
============================*/
.top-margin-neg .c2a3-wrap {
	margin-top: -100px;
}


.top-margin-neg2 .column {
	margin-top: -60px;
	padding-bottom:60px;
}

.c2a3-wrap {
	background-color: #aac811;
	border-radius: 25px;
	padding: 20px 0px;
}

.c2a .column.fourth .btn {
	position: absolute;
	bottom: 15px;
	left: 1.5em;
}
.c2a-inner {
	padding-bottom: 100px;
}

.c2a .column.no-pad {

}


.c2a figure {
	position: relative;
	margin: 20px 0px 0px 0px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.c2a figure:hover, .h-serv figure:hover {
	transform: scale(1.03)
}

.c2a figcaption {
	position: relative;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background-color: transparent;
    padding: 0.0em 0px;
}

.c2a figcaption:hover {
	background-color: transparent;
}
.c2a figcaption H2 {
    margin: 0.0em 0px 0.3em 0px;
    display: block;
	text-align: left;
	line-height: 1em;
	position: relative;
	bottom: 0px;
	left: 0px;
	right: 0px;
	color: #FFFFFF;
}
.c2a figcaption H4 {
    display: block;
	line-height: 1em;
	position: relative;
	font-size: 1.0em;
}
.c2a img {
	display: block;
}
.c2a-inner p:nth-of-type(1) {
	margin: 0%;
	display: block;
	background-color: #ffffff;
	position: relative;
	padding: 10px 0px 0px 0px;
}


.c2a-inner-blue {

}
.c2a-inner-blue figcaption {
	background-color: rgba(55,181,230,0.65);
}
.c2a-inner-red figcaption {
	background-color: rgba(231,66,96,0.65);
}
.c2a-inner-green figcaption {
	background-color: rgba(119,184,41,0.65);
}
.c2a-inner-purple figcaption {
	background-color: rgba(147,47,137,0.65);
}



.c2a figcaption h4 a {
	color: #ffffff;
}



@media screen and (max-width: 1150px) {
	.c2a .restrict-widthx {
	margin-left: auto;
	margin-right: auto;
	max-width: 800px;	
	}
	.c2a .column.fourth {
	width: 50%;
}
}


.c2a3 figure img {

	width: 124px;
	margin: 0em auto;
}
.c2a3 h3 {
	margin-top: 20px;
	color: #fff;
	font-size: 1.25em;
	font-family: "latobold", sans-serif;

}
.c2a3 .column.third {
    padding-bottom: 40px;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-image: url(images/shadow.png);
    background-size: 100% auto;
	}
.c2a2.colour {
    background-color: rgba(240,240,240,0.90);
}

@media screen and (max-width: 720px) {
	.c2a .column.fourth {
	width: 100%;
}
}

@media screen and (max-width: 719px) {
	.c2a3 .column.third {
		padding-bottom: 40px;
		margin-bottom: 55px;
	}
}


/*-------------------------*/
.grey-circles {
	padding-top: 170px;
}
.grey-circles figure {
	background-color: #ececec;
	border-radius: 50%;
	overflow: visible;
	height: 585px;
}
.grey-circles img {
	margin-top: -170px;
	width: 410px;
}
.grey-circles figcaption {
	width: 80%;
	margin: 0px auto;
}

@media screen and (max-width: 1200px) {
		.grey-circles figure {
		border-radius: 15px;
		margin-bottom: 110px;
			padding-bottom: 15px;
	}	
}

@media screen and (max-width: 719px) {
	.grey-circles {
		padding-top: 20px;
		padding-bottom: 5px;
	}
		.grey-circles figure {
		border-radius: 15px;
		height: auto;
		margin-bottom: 110px;
			padding-bottom: 15px;
	}
		.grey-circles img {
		margin-top: -100px;
		width: 410px;
	}
}
/*-----------------------*/

.form-snippet {
	background-color: #ececec;
    background-image: url(images/white-curve.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100% auto;
	padding-top: 5em;
}
.form-snippet .form-group {
	width: 50%;
    float: left;
}
.form-snippet .form-group:nth-of-type(5) {
	width: 100%;
    float: left;
}
.form-snippet .wcs-wrap-wrap {
	clear: both;
}
.form-snippet .btn {
}

@media screen and (min-width: 550px) {
		.form-snippet .wcs-wrap-wrap {
		clear: both;
			float: left;
			margin-left: calc(50% - 250px);
	}
	.form-snippet .btn {
		float: left;
		margin-top: 70px;
		margin-left: 40px;
		width: 200px;
		text-align: center
	}
}


.white-curve {
    background-image: url(images/white-curve.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100% auto;
	padding-top: 5em;
}


.white-curve-bottom {
    background-image: url(images/white-curve-rev.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 100% auto;
	padding-bottom: 5em;
}





.quote-marks .quote {
    background-image: url(images/speach-1.png),url(images/speach-2.png);
    background-repeat: no-repeat,no-repeat;
    background-position: left top,right bottom;
    background-size: 80px auto, 80px auto;	
	padding: 90px 0px;
	text-align: center;
}
.quote-marks .icon-quote {
    display: none;
}



.ticks ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.ticks li {
    padding: 10px 10px 10px 45px;
    background-position: left top 8px;
    background-repeat: no-repeat;
    background-size: auto 30px;
    background-image: url(images/tick.webp);
}
.ticks b {
	color: #aac90c;
}


.grey-boxes figure {
	background-color: #ececec;
	border-radius: 15px;
	text-align: center;
	padding: 0px 15px;
}
.grey-boxes figcaption {
	text-align: left;
	padding: 5px 20px 35px 20px;
}
.grey-boxes figure img {
	border-radius: 10px;
	margin-top: 15px;
	width: 100%;
}